.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 90vh;
    background-color: #F5FCFF;   
}

.area-atuacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    height: 60vh;
    width: 60%;
    min-width: 300px;

    border-radius: 10px;
    background-color: #6ed6ff;
}

.area-atuacao h3 {
    text-align: center;
    color: #3A3838;
    margin: 5px;
}

.area-atuacao button {
    padding: 10px;
    margin: 3px;
    width: 35%;

    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: #3A3838;
}

.area-atuacao button:hover {
    background-color: aquamarine;
}

.arrow-icon {
    color: white;
}

.link-voltar {
    position: absolute;
    top: 10px; 
    left: 10px;
}