.container-cadastro {
    height: 90vh;
    background-color: #F5FCFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 420px;
    height: 50vh;
    align-items: center;
    background-color: #6ed6ff;
    border-radius: 10px;
}

.logar {
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #3A3838;
}

.logar:hover {
    color: #F5FCFF;
}

.form-cadastro input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    border: none
}

.form-cadastro button {
    padding: 10px;
    margin: 15px;
    width: 47%;

    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: #3A3838;
}

.form-cadastro button:hover {
    background-color: aquamarine;
}
