.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: #F5FCFF;
}

.feedback ul {
    margin: 0 20em;
    border: 2px solid #EEEEEE;
    padding: 15px;
}

.feedback-list {
    max-height: 400px; 
    overflow-y: auto;
    background-color: #F5FCFF;
    list-style: none;
}

.feedback-item {
    margin: 20px;
    border-style: outset;
}

.feedback-item p {
    margin: 10px;
}

.feedback button {
    margin-top: 15px;
    padding: 10px;
    width: 15em;

    border-radius: 15px;
    border: none;
    font-weight: bold;
    
    background-color: #16B4EC;
    color: #F5FCFF;
}

.feedback button:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: #3A3838;
}
