.treino-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em auto;

    height: 90vh;
    background-color: #F5FCFF;
}

.nav-treino {  
    grid-row: 1 / 6;
    background-color: #d5f3ff;
}

.treino {
    grid-row: 3 / 6;
    grid-column: 3 / 6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    position: relative;    
}

.pr-container  p {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #3A3838;
    padding: 50px;
    max-height: 50vh;
}

.pr-container  textarea {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    margin-top: 15px;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 16px;
    border: 1px solid #3A3838;
}

.btn-responder {
    margin-top: 15px;
    padding: 10px;
    width: 15em;

    border-radius: 15px;
    border: none;
    font-weight: bold;
    color: #3A3838;
}

.btn-responder:enabled {
    cursor: pointer;
    background-color: #16B4EC;
    color: #F5FCFF;
}

.pergunta-info {
    position: absolute;
    right: 0;
    top: -10px;
    font-weight: 450;
}

.resposta-info {
    position: absolute;
    right: 0;
    bottom: 100px;
    font-weight: 450;
}

